<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Convertir en Speech</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Convertir en Speech</h1>
    <form id="speechForm" method="post" action="/">
        <label for="text">Texte à convertir :</label><br>
        <textarea id="text" name="text" rows="4" cols="50"></textarea><br><br>
        <label for="lang">Langue :</label>
        <select id="lang" name="lang">
            <option value="fr">Français</option>
            <option value="en">Anglais</option>
            <option value="ar">Arabe</option>
            <!-- Ajoute d'autres options de langue au besoin -->
        </select>
            <option value="fr">Français</option>
            <option value="en">Anglais</option>
            <option value="ar">Arabe</option>

            <!-- Ajoute d'autres options de langue au besoin -->
        </select><br><br>
        <input type="submit" value="Générer Speech">
    </form>

    {% if filename %}
    <div id="downloadLink">
        <a href="{{ url_for('download', filename=filename) }}" download="output.mp3">Télécharger le speech</a>
    </div>
    {% endif %}

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
